body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}

.display {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px; /* match to .buttons */
    text-align: end;
    font-size: 2em;
    min-height: fit-content; /* also have 0 set to auto be in display */
    box-shadow: inset 2px 2px 5px grey;
}

.buttons {
    margin: 5px; /*match to .display margin*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    /* flex-direction: column-reverse; /* so C is at top and numebrs on bottom*/  
}

button {
    flex: 1 1 23%; /*each button takes roughly 23% of the row width*/
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    max-width: calc(25% - 5px); /*makes sure buttons are uniform within row*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Regular shadow */

}

#backspace {
    min-width: 111px;
}

#clear {
    min-width: 111px;
}

#equals {
    min-width: 150px;
}

button:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow to look pressed */
    transform: translate(2px, 2px); /* Moves button slightly for pressed effect */
}